<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xns.springdemo.dao.UserMapper">
    <resultMap id="baseResultMap" type="me.xns.springdemo.domain.User">
        <id property="id" column="id"/>
        <result property="name" column="username"/>
        <result property="age" column="age"/>
        <result property="desc" column="description"/>
    </resultMap>
    <sql id="baseColumnList">
        id, username, age, description
    </sql>
    <select id="findUserByMoreThanAge" parameterType="java.lang.Integer" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM user
        WHERE age> ${age}
    </select>
</mapper>